table{
    color: whitesmoke;
    text-align: center;
    border-collapse: collapse;
    background-color:orange;
    font:normal helvetica ;


}


tr{
    height: 16.02 vh;
    background-color: #4e494e;

}
td{
    width: 25vw;
    border: 1px solid #4e494e;
}
#inputbox{
    background-color: #060606;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color:#fff ;
    border:0px;
}    
.operatorBtnPressed{
    background-color: orange;

}
.digitBtnPressed{
    background-color:#ff9e06;
}